@charset "UTF-8";

.recruit_content{
    display: flex;
    flex-direction: row-reverse;
}

.recruit_content .recruit_txt{
    width: 50%;
    padding-left: 20px;
    text-align: center;
}

.recruit_content .recruit_txt h3{
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 30px;
}

.recruit_content .recruit_txt p{
    margin-top: 40px;
}

.recruit_img{
    width: 50%;
    text-align: left;
}

.recruit_img img{
    width: 600px;
    height: auto;
}

.position_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.position_txt{
    width: 45%;
}

.position_txt h3{
    font-size: 30px;
    margin: 30px 0;
}

.position_img{
    width: 45%;
    height: 250px;
}

.position_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 100%;
}

@media screen and (max-width: 1024px){
    .recruit_content{
        flex-direction: column;
    }

    .recruit_content .recruit_txt{
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
    
    .recruit_img{
        width: 100%;
        text-align: left;
    }
    
    .recruit_img img{
        width: 100%;
        height: auto;
    }

    .position_item{
        margin-bottom: 40px;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    .position_txt h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 480px){
    .position_item{
        display: unset;
    }

    
.position_txt{
    width: 100%;
}

.position_txt h3{
    font-size: 27px;
    margin: 30px 0;
}

.position_img{
    width: 100%;
    margin: 20px auto 60px;
}
}